<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwjswly.learn.goods.mapper.GoodsCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wwjswly.entity.goods.GoodsCategory">
        <id column="category_id" property="categoryId" />
        <result column="parent_id" property="parentId" />
        <result column="category_name" property="categoryName" />
        <result column="image" property="image" />
        <result column="state" property="state" />
        <result column="simple_describe" property="simpleDescribe" />
        <result column="recommend" property="recommend" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="admin_id" property="adminId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        category_id, parent_id, category_name, image, state, simple_describe, recommend, create_time, update_time, admin_id
    </sql>

</mapper>
